<div class="primary navigation">
  <div class="container">
    <div class="headline-container">
      <h1><a href="/">Peoples Champ</a></h1>
    </div>
    <div class="links">
      <ul class="list-unstyled">
        <li><a href="/introduction.html">Introduction</a></li>
        <li><a href="/tracks.html">Tracks</a></li>
      </ul>
    </div>
  </div>
</div>