<div class="four columns">
  <div class="headline-container">
    <h2>{{ tag }}</h2>
  </div>
  {{>_tracks_navigation pagination.files}}
</div>
<div class="eight columns">
  {{>_track_player}}
</div>

{{>_track_player_script}}