<div class="four columns">
  <div class="headline-container">
    <h2>All</h2>
  </div>
  {{> _tracks_navigation tracks}}
</div>
<div class="eight columns">
  {{>_track_player}}
</div>

{{>_track_player_script}}