<!DOCTYPE html>
<html lang="en">
{{>_head}}
<body>
  {{>_primary_navigation}}
  <div class="primary container">
    <div class="row">
      <div class="twelve columns">
        <div class="headline-container">
          <h2>{{ name }}</h2>
        </div>
        {{{ contents }}}
      </div>
    </div>
  </div>
</body>
</html>
