:root {
  --color-highlight: #1EAEDB;
  --plyr-color-main: #1EAEDB;
  --color-text: #555;
}

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
/* font-family: Georgia, Times, 'Times New Roman', serif; */
}
h1 {
  line-height: 4.2rem;
}
h1 a {
  color: var(--color-highlight);
}
h2 {
  font-size: 3.6rem;
  line-height: 3rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text);
}
/**
 * Links
 */
a {
  color: var(--color-text);
  text-decoration: none;
}

/**
 * Navigation
 */
.primary.navigation {
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); */
}

.primary.navigation h1 {
  text-align: center;
}
.primary.navigation .links {
  text-align: center;
  white-space: nowrap;
}
.primary.navigation .links:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.primary.navigation .links ul {
  display: inline-block;
  vertical-align: middle;
}
.primary.navigation .links ul li {
  display: inline-block;
  margin: 0 1rem;
}
@media (min-width: 750px) {
  .primary.navigation {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2rem;
  }
  .primary.navigation .links {
    text-align: left;
    white-space: nowrap;
  }
  .primary.navigation .links:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .primary.navigation h1 {
    text-align: left;
  }
  .primary.navigation .links ul {
    display: inline-block;
    vertical-align: baseline;
  }
  .primary.navigation .links ul li {
    display: block;
    margin: 0;
  }
}

/**
 * Primary Container
 */
 @media (min-width: 750px) {
  .primary.container {
    padding-top: 2rem;
    margin-left: 245px;
    max-width: 450px;
  }
  .headline-container {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    height: 200px;
    /* border: solid 1px red; */
    margin-bottom: 5rem;
  }
  .headline-container h1,
  .headline-container h2 {
    margin-bottom: 0;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .primary.container {
    margin-left: 275px;
    max-width: 650px;
  }
  .primary.navigation {
    padding-left: 25px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .primary.container {
    margin-left: 305px;
    max-width: 700px;
  }
  .primary.navigation {
    padding-left: 50px;
  }
}

/* Player */
.plyr {
  margin-bottom: 2rem;
}
button.plyr__control {
  margin-bottom: 0;
}
.plyr--audio .plyr__controls {
  padding: 0;
}
.plyr__controls__item:first-child {
  padding-left: 0;
  padding-right: 0;
}
.plyr__controls__item:first-child:hover {
  /* padding-left: 10px; */
  background-color: transparent;
  color: #1EAEDB;
}

/**
 * Utilities
 */

/**
 * @bugfix Prevent webkit from removing list semantics
 * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
 .list-unstyled > li:before {
	content: "\200B"; /* 1 */
	position: absolute; /* 2 */
}
.list-unstyled {
  list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.list-inline {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
}
ul ul {
  margin: 0;
}


/**
 * Labels
 */
li.label {
  margin: 0;
}
li.label a {
  height: 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  min-width: 1rem;
  display: inline-block;
}
li.text-label a {
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: .5rem;
}
li.label.hip-hop a,
li.text-label.hip-hop a:hover {
  background-color: aqua;
  color: #fff;
}
li.label.instrumental a {
  background-color: blueviolet;
}
li.label.remix a {
  background-color: green;
}
